section {
    background-image: url(img/foto.png);
    background-repeat: no-repeat;
    background-size: 450px 440px;
    background-position: right top;
    width: 690px;
    min-height: 1570px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(198, 198, 198);
    font-family: Arial;
    position: relative;
}

.first-word, .second-word, .description p, .dot, .contact2 {
    font-family: COCOGOOSE;
}

header {
    margin: 0 auto;
    text-align: center;
    width: 484px;
}

#logo {
    width: 247px;
    height: 109px;
}

#main-words {
    width: 305px;
    margin: 0 8%;
}

.first-word {
    color: #c6c6c6;
    font-size: 25.37px;
    font-weight: 400;
    line-height: 13.721px;
    text-align: left;
}

.second-word {
    color: #78b82a;
    font-size: 33.1px;
    font-weight: 400;
    line-height: 13.721px;
    text-align: right;
    margin-top: -8px;
}

#main-info {
    text-align: left;
}

.spot-info {
    margin-top: 45px;
    font-size: 12px;
}

.text-info {
    font-family: "MyriadProRegular";
    font-size: 10.41px;
    margin-top: 25px;
    line-height: 1.3;
    font-weight: 400;
}

#logo2 {
    text-align: right;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-left: 47px;
}

.description {
    width: 470px;
    margin-top: 55px;
    margin-left: 3%;
}

.description p {
    color: #000000;
    font-size: 25.19px;
    font-weight: 400;
    text-align: center;
}

.description li {
    font-size: 12px;
    margin-top: 10px;
    color: #1e1f22;
    position: relative;
    line-height: 13.721px;
}

.description li:first-child {
    margin-top: -10px;
}

.description li:before {
    content: "";
    display: inline-block;
    border: 1.5px solid #6da726;
    width: 14px;
    position: absolute;
    left: -28px;
    top: 5px;
    box-sizing: border-box;
}

#contact {
    width: 595px;
    height: 208px;
    border: 5px solid rgb(109, 167, 38);
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

#contact:before {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    border-bottom: 5px solid rgb(109, 167, 38);
    border-right: 5px solid rgb(109, 167, 38);
    background: white;
    left: -5px;
    top: -5px;
}

.contact1 {
    font-family: "MyriadProSemiBold";
    font-size: 12px;
    font-weight: 400;
    color: #1e1f22;
}

.contact2 {
    text-decoration: none;
    color: #6da726;;
    font-weight: 600;
    font-size: 28.38px;
}

.contact3 {
    font-family: "MyriadProSemiBold";
    color: #c6c6c6;
    font-size: 22.55px;
    line-height: 13.721px;
    font-weight: 600;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6da726;;
}

footer p {
    color: white;
    margin: 25px 100px;
    font-family: 'MyriadProRegular';
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-align: left;
}

.dot {
    color: #6da726;
    font-size: 25.19px;
    font-weight: 400;
    text-align: center;
}

@font-face { 
    font-family: "COCOGOOSE"; 
    src: url("fonts/Cocogoose_trial.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}